.joke-card {
  background-color: #f8f8f8;
  border-radius: 20px;
  padding: 50px;
  margin-top: 40px;
  max-width: 100%;
  justify-content: flex-start;
  position: relative;

  &__icon {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content {
    margin-left: 20px;
    width: 100%;

    .identifier {
      font-size: 10px;
      color: #ababab;
    }

    .text {
      font-size: 18px;
      color: #333333;
      margin-top: 5px;
    }

    .info {
      display: flex;
      justify-content: space-between;
      margin-top: 25px;

      .time {
        font-size: 10px;
        color: #ababab;
      }

      .category {
        font-size: 10px;
        color: #333333;
        text-transform: uppercase;
        padding: 6px 20px;
        background-color: #fff;
        border-radius: 6px;
      }
    }
  }

  &__like {
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;

    .active {
      path {
        fill: #ff6767;
      }
    }
  }
}
